@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'ArnoPro-Regular';
  src: url(../fonts/ArnoPro-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'ArnoPro-Display';
  src: url(../fonts/ArnoPro-Display.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }

.btn, .link {
  display: block;
  background-color: #352a2a;
  color: #ffffff;
  padding: 15px 39px;
  padding-bottom: 13px;
  font-size: 21px;
  font-family: 'ArnoPro-Display', sans-serif;
  transition: all 0.4s; }
  .btn:hover, .link:hover {
    background-color: #3b3030;
    transition: all 0.4s; }
  .btn.active, .link.active {
    background-color: #e38027;
    transition: all 0.4s; }
    .btn.active:hover, .link.active:hover {
      background-color: #df7211;
      transition: all 0.4s; }

.wrapper {
  max-width: 1920px;
  padding: 0;
  padding-left: 139px;
  padding-right: 122px;
  margin: 0 auto;
  margin-left: 150px;
  z-index: 1; }

.js-body-overflow {
  overflow: hidden; }

.svg-icon svg {
  width: 754px;
  position: absolute;
  top: -100px;
  right: 328px;
  z-index: -1; }

.cookie {
  background-color: #2d2727;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-right: 139px;
  padding-left: 340px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .cookie .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .cookie__text {
    color: #ffffff;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    margin-left: 98px; }
  .cookie__buttons {
    display: flex;
    flex-direction: row; }
  .cookie__btn:first-child {
    margin-right: 20px; }

.cookie.cookie-close {
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.disagree-cookie {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -1000px;
  left: 0;
  background-color: #2d2727;
  z-index: 120;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.disagree__text {
  font-family: "ArnoPro-Display", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  max-width: 400px;
  text-align: center;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto; }

.disagree__close {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.disagree-cookie.disagree-open-popup {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 45px;
  padding-bottom: 40px;
  z-index: 101;
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  animation: opening-nav 1s linear 0.3s; }
  .nav__contacts {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 18px;
    color: #2d2727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .nav__contacts .tel {
      margin-bottom: 15px;
      color: #2d2727; }
      .nav__contacts .tel:hover {
        color: #7b6a6a;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
    .nav__contacts .map {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 18px;
      color: #2d2727; }
      .nav__contacts .map:hover {
        color: #7b6a6a;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }

.burger {
  width: 100%;
  height: 1px;
  background-color: #e38027;
  position: absolute;
  top: 9px;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .burger-wrapper {
    height: 20px;
    cursor: pointer;
    margin: 0 auto;
    width: 30px;
    position: relative; }
    .burger-wrapper::after, .burger-wrapper::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e38027;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper::after {
      top: auto;
      bottom: 0; }
    .burger-wrapper:hover .burger {
      -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards .2s;
      animation: burger-hover 1s infinite ease-in-out alternate forwards .2s; }
    .burger-wrapper:hover::after {
      -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards .4s;
      animation: burger-hover 1s infinite ease-in-out alternate forwards .4s; }
    .burger-wrapper:hover::before {
      -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards .4s;
      animation: burger-hover 1s infinite ease-in-out alternate forwards .4s; }
    .burger-wrapper.js-burger::after {
      -webkit-animation: burger-top 1s ease-in-out forwards;
      animation: burger-top 1s ease-in-out forwards; }
    .burger-wrapper.js-burger::before {
      -webkit-animation: burger-bottom 1s ease-in-out forwards;
      animation: burger-bottom 1s ease-in-out forwards; }
    .burger-wrapper.js-burger .burger {
      opacity: 0;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper.js-burger:hover {
      -webkit-animation: burger-rotate 2s linear infinite;
      animation: burger-rotate 2s linear infinite; }
    .burger-wrapper.js-burger-close::after {
      -webkit-animation: burger-bottom-invert 1s ease-in-out forwards;
      animation: burger-bottom-invert 1s ease-in-out forwards; }
    .burger-wrapper.js-burger-close::before {
      -webkit-animation: burger-top-invert 1s ease-in-out forwards;
      animation: burger-top-invert 1s ease-in-out forwards; }
    .burger-wrapper.js-burger-close .burger {
      opacity: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 42px; }
  .languages__item:nth-child(2n) {
    margin-left: 20px; }
  .languages__item a {
    font-size: 18px;
    font-family: "ArnoPro-Display", sans-serif;
    color: #2d2727;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .languages__item a:hover {
      color: #7b6a6a;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.small-logo {
  display: none; }

.js-small-nav.nav {
  width: 150px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.js-small-nav .nav__logo {
  margin: auto; }

.js-small-nav .big-logo {
  display: none; }

.js-small-nav .small-logo {
  display: block; }

.js-small-nav .nav__contacts {
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
  cursor: default; }

.main-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -3000px;
  background-color: #352a2a;
  padding-top: 95px;
  padding-bottom: 100px;
  z-index: 100;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s; }
  .main-menu .menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 149px;
    padding-right: 135px; }
  .main-menu .menu__item {
    margin-bottom: 54px; }
    .main-menu .menu__item a {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 42px;
      line-height: 48px;
      color: #ffffff;
      display: inline-block;
      border-bottom: 0px solid #7b6a6a;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .main-menu .menu__item a:hover {
        color: #7b6a6a;
        border-bottom: 1px solid #7b6a6a;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
  .main-menu .menu__address {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 250px;
    margin-top: 13px; }
  .main-menu .submenu__list {
    margin-top: 15px; }
  .main-menu .submenu__item a {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 21px;
    line-height: 24px;
    color: #7b6a6a;
    margin-bottom: 8px;
    border-bottom: 0px solid #ffffff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .main-menu .submenu__item a:hover {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.main-menu.js-menu-open {
  left: 0;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s; }

.menu__column {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 50px; }

.js-menu-open .menu__column:first-child {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s 1.1s;
  -o-transition: all 0.5s 1.1s;
  transition: all 0.5s 1.1s; }

.js-menu-open .menu__column:nth-child(2) {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s 1.2s;
  -o-transition: all 0.5s 1.2s;
  transition: all 0.5s 1.2s; }

.js-menu-open .menu__column:nth-child(3) {
  margin-top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s 1.3s;
  -o-transition: all 0.5s 1.3s;
  transition: all 0.5s 1.3s; }

.nav__logo, .nav__menu, .nav__contacts, .header__tagline, .header__description {
  opacity: 1;
  -webkit-transition: all 0.5s 1.3s;
  -o-transition: all 0.5s 1.3s;
  transition: all 0.5s 1.3s; }

.opening .nav__logo, .opening .nav__menu, .opening .nav__contacts, .opening .header__tagline, .opening .header__description {
  opacity: 0;
  -webkit-transition: all 0.5s 1.3s;
  -o-transition: all 0.5s 1.3s;
  transition: all 0.5s 1.3s; }

@-webkit-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }

@-webkit-keyframes burger-top {
  0% {
    top: 0; }
  40% {
    top: 10px; }
  60% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes burger-top {
  0% {
    top: 0; }
  40% {
    top: 10px; }
  60% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes burger-bottom {
  0% {
    top: 0; }
  40% {
    top: 9px; }
  60% {
    top: 9px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes burger-bottom {
  0% {
    bottom: 0; }
  40% {
    top: 9px; }
  60% {
    top: 9px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@-webkit-keyframes burger-top-invert {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  40% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  60% {
    top: 10px; }
  100% {
    top: 0; } }

@keyframes burger-top-invert {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  40% {
    top: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  60% {
    top: 10px; }
  100% {
    top: 0; } }

@-webkit-keyframes burger-bottom-invert {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  40% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  60% {
    bottom: 10px; }
  100% {
    bottom: 0; } }

@keyframes burger-bottom-invert {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  40% {
    bottom: 10px;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  60% {
    bottom: 10px; }
  100% {
    bottom: 0; } }

@-webkit-keyframes burger-rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes burger-rotate {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

.header {
  height: 100vh;
  position: relative;
  transition: all 1.5s 0.5s; }
  .header .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .header__text-container {
    margin-left: auto;
    margin-right: 164px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 190px;
    right: 90px; }
  .header__tagline {
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    font-family: "ArnoPro-Regular", sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 28px;
    animation: opening-opacity 1s ease 1s; }
  .header__description {
    font-size: 15px;
    line-height: 25px;
    font-family: "HelveticaNeueCyr", sans-serif;
    color: #ffffff;
    text-align: center;
    max-width: 540px; }
  .header__links {
    position: absolute;
    margin-right: 201px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    right: 0;
    height: auto;
    opacity: 1;
    -webkit-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
    animation: opening-btns 1s 1.3s; }
  .header-link {
    padding: 28px 60px; }

.content__video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 2s 0.5s;
  -o-transition: all 2s 0.5s;
  transition: all 2s 0.5s; }

.header-container {
  height: 100%;
  animation: opening-video 1s linear; }

@keyframes opening-video {
  0% {
    transform: translate(0px, -1005px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes opening-nav {
  0% {
    height: 0;
    transition: all 0.2s; }
  25% {
    height: 25%;
    transition: all 0.2s; }
  50% {
    height: 50%;
    transition: all 0.2s; }
  75% {
    height: 75%;
    transition: all 0.2s; }
  100% {
    height: 100%;
    transition: all 0.2s; } }

@keyframes opening-opacity {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.slider-baths {
  background-color: #2d2727; }
  .slider-baths .wrapper {
    padding-right: 0px;
    padding-left: 0px;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
  .slider-baths .slide {
    position: relative;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 150px; }
    .slider-baths .slide__img {
      max-width: 715px;
      max-height: 663px;
      -webkit-transition: all 0.8s 0.3s;
      -o-transition: all 0.8s 0.3s;
      transition: all 0.8s 0.3s; }
      .slider-baths .slide__img img {
        width: 100px;
        height: 663px;
        -webkit-transition: all 0.8s 0.3s;
        -o-transition: all 0.8s 0.3s;
        transition: all 0.8s 0.3s; }
    .slider-baths .slide a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
    .slider-baths .slide__name {
      font-size: 130px;
      color: #ffffff;
      font-family: "ArnoPro-Display", sans-serif;
      letter-spacing: 26px;
      position: absolute;
      top: 100px;
      left: 570px;
      text-transform: uppercase;
      -webkit-transition: all 0.8s 0.3s;
      -o-transition: all 0.8s 0.3s;
      transition: all 0.8s 0.3s; }
    .slider-baths .slide__text {
      margin-top: 240px; }
    .slider-baths .slide__people-count {
      font-size: 40px;
      font-family: "ArnoPro-Display", sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin-bottom: 43px;
      word-spacing: 3px;
      margin-right: 120px;
      padding-top: 4px;
      letter-spacing: 8px;
      margin-left: 150px;
      -webkit-transition: all 0.8s 0.3s;
      -o-transition: all 0.8s 0.3s;
      transition: all 0.8s 0.3s; }
    .slider-baths .slide__desc {
      color: #ffffff;
      font-size: 15px;
      line-height: 25px;
      font-family: "HelveticaNeueCyr", sans-serif;
      max-width: 440px;
      margin-right: auto;
      margin-left: 150px;
      margin-bottom: 47px; }
    .slider-baths .slide__cost {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 150px; }
    .slider-baths .slide .cost-type {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 46px; }
    .slider-baths .slide .cost-time {
      font-size: 21px;
      line-height: 29px;
      color: #7b6a6a;
      font-family: "ArnoPro-Display", sans-serif; }
    .slider-baths .slide .cost-money {
      font-size: 38px;
      color: #ffffff;
      font-family: "ArnoPro-Display", sans-serif; }

.slider-links {
  margin-top: 80px;
  margin-left: 157px;
  display: flex;
  flex-direction: row; }
  .slider-links-list {
    display: flex;
    flex-direction: row;
    margin-left: 360px; }
    .slider-links-list__item a {
      padding: 30px 60px;
      padding-bottom: 25px; }
  .slider-links__time {
    padding: 30px 63px;
    margin-right: 160px;
    padding-bottom: 25px; }

.swiper-button-next, .swiper-button-prev {
  top: 57px;
  color: #ffffff;
  font-family: "ArnoPro-Display", sans-serif;
  font-size: 21px;
  width: auto;
  margin-top: 0; }
  .swiper-button-next::before, .swiper-button-prev::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 20px;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  margin-right: 0;
  right: 0;
  padding-right: 60px; }

.swiper-button-prev {
  padding-left: 60px;
  left: 0px; }
  .swiper-button-prev::before {
    left: 0;
    right: auto; }

.swiper-button-next:hover::before {
  width: 30px;
  right: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.swiper-button-prev:hover::before {
  width: 30px;
  left: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.slider-list {
  padding: 45px 50px;
  padding-bottom: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  position: absolute;
  top: 50px;
  left: calc(50% - 85px);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0.8s, top 0.8s; }
  .slider-list__item {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 21px;
    line-height: 27px;
    color: #2d2727;
    margin-bottom: 8px;
    cursor: pointer; }
    .slider-list__item:hover {
      color: #7b6a6a;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.slider__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  position: relative;
  margin-bottom: 85px; }
  .slider__btns:hover .slider-list, .slider__btns:active .slider-list, .slider__btns:focus .slider-list {
    opacity: 1;
    visibility: visible;
    top: 85px;
    transition: opacity 0.8s, visibility 0.8s, top 0.8s; }
  .slider__btns:hover .all-baths {
    color: #7b6a6a;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.all-baths {
  font-family: "ArnoPro-Display", sans-serif;
  font-size: 21px;
  color: #ffffff;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .all-baths::after, .all-baths::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 11px;
    left: 0; }
  .all-baths::after {
    right: 0;
    left: auto; }
  .all-baths:hover {
    color: #7b6a6a;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.js-slider-anim .wrapper {
  opacity: 1;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.js-slider-anim .slide__name {
  left: 470px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.js-slider-anim .slide__people-count {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.js-slider-anim .slide__desc {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.4s;
  -o-transition: all 0.8s 0.4s;
  transition: all 0.8s 0.4s; }

.js-slider-anim .slide__cost {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.45s;
  -o-transition: all 0.8s 0.45s;
  transition: all 0.8s 0.45s; }

.js-slider-anim .slide__img img {
  width: 100%;
  -webkit-transition: all 0.5s 0.3s;
  -o-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s; }

.swiper-slide-prev .slide__img, .swiper-slide-next .slide__img {
  margin: auto 0;
  -webkit-transition: all 0.5s 0.3s;
  -o-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s; }

.swiper-slide-prev .slide__name, .swiper-slide-next .slide__name {
  left: 570px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.swiper-slide-prev .slide__people-count, .swiper-slide-next .slide__people-count {
  margin-left: 150px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.swiper-slide-prev .slide__desc, .swiper-slide-next .slide__desc {
  margin-left: 150px;
  -webkit-transition: all 0.8s 0.4s;
  -o-transition: all 0.8s 0.4s;
  transition: all 0.8s 0.4s; }

.swiper-slide-prev .slide__cost, .swiper-slide-next .slide__cost {
  margin-left: 150px;
  -webkit-transition: all 0.8s 0.45s;
  -o-transition: all 0.8s 0.45s;
  transition: all 0.8s 0.45s; }

.js-slider-swipe .slide__name {
  left: 470px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.js-slider-swipe .slide__people-count {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.3s;
  -o-transition: all 0.8s 0.3s;
  transition: all 0.8s 0.3s; }

.js-slider-swipe .slide__desc {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.4s;
  -o-transition: all 0.8s 0.4s;
  transition: all 0.8s 0.4s; }

.js-slider-swipe .slide__cost {
  margin-left: 60px;
  -webkit-transition: all 0.8s 0.45s;
  -o-transition: all 0.8s 0.45s;
  transition: all 0.8s 0.45s; }

.tobook {
  position: relative;
  width: 221px;
  height: 76px; }
  .tobook:hover .tobook__word {
    top: 0px;
    left: 60px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .tobook:hover .tobook__time {
    opacity: 1;
    top: 30px;
    left: 60px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

.tobook__word {
  position: absolute;
  top: 30px;
  left: 60px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.tobook__time {
  position: absolute;
  top: 60px;
  left: 60px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.more-info {
  border-right: 1px solid rgba(255, 255, 255, 0.05); }

.slider_btn-anim {
  animation: 1.5s sliderbtn; }

@keyframes sliderbtn {
  0% {
    margin-top: 0;
    opacity: 1; }
  25% {
    margin-top: 5px;
    opacity: 0.5; }
  50% {
    margin-top: 10px;
    opacity: 0; }
  75% {
    margin-top: 5px;
    opacity: 0.5; }
  100% {
    margin-top: 0;
    opacity: 1; } }

.services {
  background-color: #2d2727;
  height: 100vh;
  overflow: hidden; }
  .services .wrapper {
    margin-left: 0;
    padding-left: 150px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative; }

.service {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 1s;
  padding: 0 135px 60px 135px; }
  .service__text {
    z-index: 1; }
  .service__left-photo {
    position: absolute;
    top: 0;
    left: 0px;
    width: 960px;
    height: 1118px;
    z-index: 0;
    transition: all 0.4s; }
  .service__right-photo {
    position: absolute;
    top: 0;
    right: 0px;
    width: 960px;
    height: 1118px;
    z-index: 0;
    transition: all 0.4s; }
  .service:hover {
    width: 60%; }
    .service:hover .service-menu__item {
      opacity: 1;
      transform: translate(0px, 0px);
      transition: all 0.4s 0.3s; }
      .service:hover .service-menu__item:first-child {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.3s; }
      .service:hover .service-menu__item:nth-child(2) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.4s; }
      .service:hover .service-menu__item:nth-child(3) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.5s; }
      .service:hover .service-menu__item:nth-child(4) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.6s; }
      .service:hover .service-menu__item:nth-child(5) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.7s; }
      .service:hover .service-menu__item:nth-child(6) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.8s; }
      .service:hover .service-menu__item:nth-child(7) {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: all 0.4s 0.9s; }
  .service__name {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
    margin-top: 425px;
    max-width: 600px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1; }
    .service__name:nth-child(2) {
      margin-top: 384px; }
  .service__desc {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 33px;
    z-index: 1; }
  .service-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
    opacity: 1;
    transition: all 0.4s;
    z-index: 1; }
    .service-menu__item {
      opacity: 0;
      transform: translate(0px, 10px);
      transition: all 0.4s; }
      .service-menu__item a {
        font-size: 24px;
        font-family: "ArnoPro-Display", sans-serif;
        line-height: 32px;
        color: #ffffff;
        padding-top: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0);
        transition: border-top 0.4s;
        transition: margin-top 0.4s; }
        .service-menu__item a:hover {
          border-top: 1px solid rgba(255, 255, 255, 0.25);
          transition: border-top 0.4s; }

.banners {
  background-color: #2d2727;
  height: 100%; }
  .banners .wrapper {
    margin-left: 0;
    padding-left: 150px;
    padding-right: 0px;
    height: 100%;
    position: relative; }
  .banners-wrapper {
    position: relative;
    height: 100%; }
  .banners-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }

.banner {
  position: relative;
  height: 100%; }
  .banner img {
    width: 100%;
    height: 100%;
    z-index: -1; }
  .banner__text {
    position: absolute;
    top: 378px;
    padding-left: 139px;
    z-index: 1; }
  .banner__name {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    position: absolute;
    top: 192px;
    left: 137px;
    max-width: 574px;
    z-index: 1; }
  .banner__desc {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    width: 100%;
    max-width: 612px;
    margin-bottom: 24px; }
  .banner-btns {
    position: absolute;
    bottom: 47px;
    right: 0;
    z-index: 10; }
  .banner-btn {
    font-size: 21px;
    font-family: "ArnoPro-Display", sans-serif;
    color: #ffffff;
    position: relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .banner-btn:hover {
      color: #7b6a6a;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .banner-btn:first-child {
      margin-right: 50px;
      padding-left: 60px; }
    .banner-btn:nth-child(2) {
      padding-right: 60px; }
      .banner-btn:nth-child(2)::before {
        right: 0;
        left: auto; }
    .banner-btn::before {
      content: "";
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.25);
      position: absolute;
      top: 9px;
      left: 0; }
  .banner__shadow {
    background-image: url(../img/banner-shadow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10; }

.photo-gallery {
  width: 100%;
  height: 510px;
  padding-left: 150px;
  position: relative; }

.first-photo {
  position: absolute;
  top: 215px;
  left: 20px; }

.second-photo {
  position: absolute;
  top: 137px;
  left: -19px; }

.third-photo {
  position: absolute;
  top: 237px;
  left: -131px; }

.fouth-photo {
  position: absolute;
  top: 94px;
  left: 42px; }

.sixth-photo {
  position: absolute;
  top: 59px;
  left: 50px; }

.seventh-photo {
  position: absolute;
  top: 255px;
  left: 137px; }

.eighth-photo {
  position: absolute;
  top: 212px;
  left: 60px; }

.activity {
  background-color: #fcfcfc;
  margin-top: -2px; }
  .activity__banner {
    margin: 0 auto; }
  .activity-container {
    position: relative;
    padding-left: 289px;
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .activity__tagline {
    font-size: 76px;
    line-height: 80px;
    font-family: "ArnoPro-Regular", sans-serif;
    color: #2d2727;
    margin-top: 37px; }
  .activity__desc {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #2d2727;
    max-width: 610px;
    margin-top: 27px;
    margin-bottom: 80px; }
  .activity__link {
    display: inline;
    padding: 28px 60px; }
  .activity-slider {
    margin-left: 289px;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1; }
    .activity-slider__btns {
      position: absolute;
      bottom: -67px;
      right: 0; }
    .activity-slider__btn {
      font-size: 21px;
      font-family: "ArnoPro-Display", sans-serif;
      color: #2d2727;
      position: relative;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .activity-slider__btn:first-child {
        margin-right: 50px;
        padding-left: 60px; }
      .activity-slider__btn:nth-child(2) {
        padding-right: 60px; }
        .activity-slider__btn:nth-child(2)::before {
          right: 0;
          left: auto; }
      .activity-slider__btn::before {
        content: "";
        width: 50px;
        height: 1px;
        background-color: rgba(26, 26, 24, 0.1);
        position: absolute;
        top: 9px;
        left: 0; }
      .activity-slider__btn:hover {
        color: #7b6a6a;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
  .activity-slide {
    position: relative;
    max-width: 414px;
    margin-right: 38px; }
    .activity-slide img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      -webkit-transition: .7s -webkit-transform;
      transition: .7s -webkit-transform;
      transition: .7s transform;
      transition: .7s transform, .7s -webkit-transform;
      will-change: transform;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0); }
    .activity-slide__shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("../img/activity-shadow.png");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1; }
    .activity-slide__text {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 45px;
      padding-left: 40px;
      padding-right: 40px;
      z-index: 2; }
    .activity-slide__date {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 42px;
      color: #ffffff; }
    .activity-slide__name {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 24px;
      line-height: 28px;
      color: #ffffff;
      text-decoration-style: dotted;
      text-decoration-line: underline;
      text-decoration-color: rgba(255, 255, 255, 0.25);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      display: inline-block;
      max-width: 250px;
      cursor: pointer; }
      .activity-slide__name:hover {
        color: #7b6a6a;
        text-decoration-color: rgba(255, 255, 255, 0);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }

.photo-gallery {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  padding-left: 150px;
  z-index: 1; }

.gallery-slide {
  position: relative; }

.activity-slide__img-wrap {
  width: 414px;
  height: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden; }

.activity-slide:hover img {
  -webkit-transform: scale(1.2) translateZ(0);
  transform: scale(1.2) translateZ(0); }

.activity-slide__img-over {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: block; }

.gallery {
  background-color: #fcfcfc;
  padding-top: 195px;
  padding-bottom: 143px; }
  .gallery-heading {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 60px;
    line-height: 64px;
    color: #2d2727;
    text-align: center;
    max-width: 690px;
    margin: 0 auto; }
  .gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px; }
    .gallery-container img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      -webkit-transition: .7s -webkit-transform;
      transition: .7s -webkit-transform;
      transition: .7s transform;
      transition: .7s transform, .7s -webkit-transform;
      will-change: transform;
      -webkit-backface-visibility: hidden;
      -webkit-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0); }

.contacts-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 88px; }

.soc-link {
  padding: 30px;
  background-color: #352a2a;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .soc-link img {
    width: 15px;
    height: 100%; }
  .soc-link.vk {
    padding-top: 29px;
    padding-bottom: 31px; }
  .soc-link.fb {
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05); }
  .soc-link:hover {
    background-color: #3b3030;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.gallery__item {
  width: 373px;
  height: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden; }
  .gallery__item:hover img {
    -webkit-transform: scale(1.2) translateZ(0);
    transform: scale(1.2) translateZ(0); }

.gallery__item-over {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: block; }

.contacts {
  background-color: #2d2727;
  padding-top: 100px;
  padding-bottom: 98px;
  position: relative; }
  .contacts .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    position: relative; }
  .contacts__container {
    margin-top: 93px; }
  .contacts__heading {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    max-width: 730px;
    margin-bottom: 27px; }
  .contacts__address {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 575px;
    margin-bottom: 60px; }
  .contacts__number {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 42px;
    line-height: 46px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block; }
  .contacts__schedule {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 575px; }

.footer {
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px; }
  .footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__name {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #2d2727;
    margin-right: 170px; }
  .footer__contacts {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #2d2727; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }

.dextra__name {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e38027;
  padding: 6px 6px 3px;
  border-radius: 2px;
  margin-right: 10px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }

.dextra__job {
  display: block;
  float: right;
  font-size: 9px;
  line-height: 14px;
  color: rgba(56, 47, 45, 0.5);
  font-family: 'Verdana';
  text-transform: uppercase;
  margin-top: -2px; }

.dextra:hover .dextra__name {
  color: #e38027;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media screen and (max-width: 1900px) {
  .gallery-container {
    justify-content: center; } }

@media screen and (max-width: 1800px) {
  .cookie {
    padding-right: 20px; }
  .cookie__text {
    margin-left: 30px; }
  .cookie__btn {
    font-size: 19px;
    padding: 13px 25px; }
  .service {
    padding-left: 50px;
    padding-right: 50px; }
  .service__name {
    margin-top: 250px; }
  .banners {
    height: auto; }
  .photo-gallery .first-photo {
    top: 100px; }
  .photo-gallery .third-photo {
    top: 70px; }
  .photo-gallery .fouth-photo {
    left: 880px; }
  .photo-gallery .sixth-photo {
    top: 50px;
    left: 1111px; }
  .activity-slider {
    margin-left: 150px; }
  .contacts__heading {
    font-size: 60px;
    line-height: 70px; } }

@media screen and (max-width: 1700px) {
  .gallery-container img {
    width: 265px; } }

@media screen and (max-width: 1500px) {
  .main-menu .menu__container {
    padding-right: 0; }
  .main-menu svg {
    right: 0; }
  .main-menu .menu__item a {
    font-size: 32px;
    line-height: 36px; }
  .main-menu .submenu__item a {
    font-size: 17px;
    line-height: 25px; }
  .cookie__btn:first-child {
    margin-right: 0; }
  .cookie__text {
    font-size: 13px;
    margin-left: 0px; }
  .slider-baths .slide {
    padding-left: 0px; }
  .slide__img img {
    max-width: 595px; }
  .slider-baths .slide__name {
    left: 50px;
    top: 50px;
    font-size: 110px; }
  .slider-baths .slide__text {
    margin-top: 160px; }
  .slider-baths .slide__people-count {
    margin-bottom: 15px; }
  .slider-baths .slide__desc {
    margin-bottom: 30px; }
  .slider-links {
    margin-top: -2px; }
  .photo-gallery .first-photo {
    top: 50px; }
  .photo-gallery .second-photo {
    left: 335px; }
  .photo-gallery .third-photo {
    top: 70px;
    left: 495px; }
  .photo-gallery .fouth-photo {
    left: 752px;
    top: 92px; }
  .photo-gallery .sixth-photo {
    top: 50px;
    left: 960px; }
  .photo-gallery .seventh-photo {
    top: 255px;
    right: 230px; }
  .photo-gallery .eighth-photo {
    top: 80px; }
  .activity__tagline {
    font-size: 52px;
    line-height: 60px; }
  .gallery .wrapper {
    padding-left: 20px; }
  .gallery-container img {
    width: 310px; } }

@media screen and (max-width: 1366px) {
  .cookie {
    padding-left: 170px; }
  .main-menu .wrapper {
    padding-right: 30px; }
  .main-menu .menu__container {
    padding-left: 50px; }
  .header__text-container {
    margin-right: 0;
    right: 130px;
    top: 163px;
    max-width: 521px; }
  .header__tagline {
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 18px; }
  .header__links {
    margin-right: 115px; }
  .header-link {
    padding: 28px 50px; }
  .header__description {
    max-width: 521px; }
  .header .wrapper {
    padding-right: 35px; }
  .slider-baths .slide {
    max-width: 1290px; }
  .slider-links__time {
    display: none; }
  .slider-list {
    padding: 30px 50px; }
  .slider-list__item {
    font-size: 18px; }
  .slider__btns {
    margin-bottom: 27px;
    padding-top: 25px; }
  .swiper-button-next, .swiper-button-prev {
    top: 15px;
    font-size: 18px; }
  .swiper-button-next {
    padding-right: 55px; }
  .swiper-button-prev {
    padding-left: 55px; }
  .all-baths {
    font-size: 18px; }
  .slider-baths .slide__name {
    left: 270px;
    top: 55px;
    letter-spacing: 22px; }
  .slider-baths .slide__text {
    margin-top: 176px; }
  .slider-baths .slide__people-count {
    margin-left: 45px;
    margin-bottom: 46px;
    margin-right: 0;
    font-size: 27px;
    text-align: left;
    word-spacing: 1px;
    letter-spacing: 7px; }
  .slider-baths .slide__desc {
    margin-bottom: 34px;
    margin-left: 36px;
    margin-right: 0;
    line-height: 24px;
    max-width: 395px; }
  .js-slider-anim .slide__cost {
    margin-left: 36px; }
  .slider-baths .slide .cost-time {
    font-size: 17px; }
  .slider-baths .slide .cost-money {
    font-size: 32px; }
  .slider-baths .slide__img {
    max-height: 548px; }
  .slide__img img {
    max-width: 584px; }
  .slider-links {
    margin-left: 0; }
  .tobook {
    width: 207px; }
  .btn, .link {
    font-size: 18px; }
  .slider-links-list {
    margin-left: 280px; }
  .service {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 45px; }
  .service__name {
    font-size: 48px;
    line-height: 54px;
    max-width: 450px;
    min-width: 450px;
    margin-top: 291px; }
  .right-service .service-name {
    margin-top: 260px; }
  .service__desc {
    margin-top: 15px; }
  .service-menu__item a {
    font-size: 21px; }
  .banner__name {
    top: 132px;
    font-size: 61px;
    line-height: 66px;
    left: 75px; }
  .banner__text {
    top: 281px;
    padding-left: 0;
    left: 75px; }
  .banner__desc {
    max-width: 430px; }
  .banner-btn {
    font-size: 18px; }
  .banner-btns {
    bottom: 20px; }
  .banner-btn:first-child {
    margin-right: 40px; }
  .photo-gallery .first-photo {
    top: 180px;
    left: -18px; }
  .photo-gallery .second-photo {
    left: 64px;
    top: 102px; }
  .photo-gallery .third-photo {
    left: 127px;
    top: 202px; }
  .photo-gallery .fouth-photo {
    left: 109px;
    top: 92px; }
  .photo-gallery .eighth-photo {
    display: none; }
  .photo-gallery .seventh-photo {
    right: 0;
    top: 220px; }
  .photo-gallery .sixth-photo {
    top: 0;
    left: 117px; }
  .activity-container {
    margin-top: 0;
    padding-left: 225px; }
  .activity__tagline {
    font-size: 60px;
    line-height: 62px; }
  .activity-slide__img-wrap {
    width: 408px;
    height: 484px; }
  .activity-slider {
    margin-left: 125px; }
  .activity__desc {
    line-height: 23px;
    margin-bottom: 75px; }
  .activity-slider__btn {
    font-size: 18px; }
  .activity-slider__btn:first-child {
    margin-right: 40px; }
  .gallery-container img {
    width: 355px; }
  .gallery__item {
    width: 355px;
    height: 355px; }
  .gallery__item:nth-child(n+10) {
    display: none; }
  .gallery-container {
    margin-top: 33px; }
  .gallery-heading {
    font-size: 50px;
    line-height: 52px; }
  .gallery .wrapper {
    padding-left: 80px;
    padding-right: 70px; }
  .contacts-links {
    margin-top: 82px; }
  .gallery {
    padding-bottom: 130px; }
  .contacts #map {
    width: 440px !important;
    height: 550px !important; }
  .contacts {
    padding-top: 75px;
    padding-bottom: 75px; }
  .contacts__address {
    max-width: 435px; }
  .contacts .wrapper {
    padding-left: 73px;
    padding-right: 70px; }
  .contacts__container {
    margin-top: 55px; }
  .contacts__heading {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 22px; }
  .contacts__address {
    margin-bottom: 53px; }
  .contacts__number {
    font-size: 32px; }
  .contacts__schedule {
    max-width: 250px; }
  .footer__name {
    margin-right: 87px; }
  .footer .wrapper {
    padding-left: 70px;
    padding-right: 70px; }
  .svg-icon svg {
    width: 600px;
    top: -70px; } }

@media screen and (max-width: 1200px) {
  .cookie {
    padding-left: 200px; }
  .cookie__text {
    max-width: 500px; }
  .slide__img img {
    max-width: 400px; }
  .slider-baths .slide__name {
    font-size: 60px;
    left: 150px;
    top: 20px; }
  .slider-baths .slide__text {
    margin-top: 80px; }
  .slider-baths .slide__people-count {
    font-size: 30px;
    text-align: left; }
  .slider-baths .slide__desc {
    margin-bottom: 20px; }
  .slider-baths .slide .cost-money {
    font-size: 20px; }
  .slider-links {
    margin-left: 100px; }
  .service__name {
    font-size: 50px; }
  .service-menu__item a {
    font-size: 20px; }
  .banner__name {
    font-size: 50px; }
  .banner__text {
    top: 180px; }
  .banner__desc {
    margin-bottom: 10px; }
  .activity-container {
    padding-left: 165px; }
  .activity-slider {
    margin-left: 50px; }
  .activity__tagline {
    font-size: 45px;
    line-height: 50px; }
  .photo-gallery {
    height: 410px; }
  .gallery-heading {
    font-size: 40px;
    line-height: 50px; }
  .gallery-container img {
    width: 220px; }
  .contacts .wrapper {
    flex-direction: column; }
  .contacts #map {
    width: 100% !important;
    height: 400px !important; }
  .contacts__container {
    margin-bottom: 50px;
    margin-top: 0; }
  .contacts svg {
    right: 0; }
  .photo-gallery .third-photo {
    left: 535px; }
  .photo-gallery .fouth-photo {
    left: 775px; }
  .footer .wrapper {
    padding-left: 30px;
    padding-right: 30px; } }

@media screen and (max-width: 1000px) {
  .cookie__text {
    max-width: 300px; }
  .main-menu .wrapper {
    padding-left: 35px; }
  .nav {
    max-width: 185px; }
  .header-link {
    padding: 20px 25px; }
  .slider-baths .slide__desc {
    margin-left: 30px; }
  .slider-baths .slide__people-count {
    margin-left: 30px; }
  .slider-baths .slide__cost {
    margin-left: 30px; }
  .slider-baths .slide .cost-type {
    margin-right: 20px; }
  .slider-baths .slide__desc {
    margin-bottom: 10px; }
  .slider-links-list__item a {
    padding: 15px 30px;
    padding-bottom: 15px; }
  .slider-links {
    margin-left: 0; }
  .services {
    height: auto; }
  .service-menu {
    flex-wrap: wrap; }
  .service-menu__item {
    margin-right: 20px; }
  .services .wrapper {
    flex-direction: column; }
  .service {
    width: 100%; }
  .service:hover {
    width: 100%; }
  .banner__name {
    left: 50px; }
  .banner__text {
    padding-left: 50px; }
  .photo-gallery .seventh-photo {
    display: none; }
  .activity-container {
    flex-direction: column; }
  .activity__banner {
    margin-bottom: 50px; }
  .activity-slider {
    margin-left: 0; }
  .gallery-container img {
    width: 155px; }
  .gallery .wrapper {
    padding-left: 0;
    padding-right: 100px; }
  .soc-link.vk {
    padding-top: 30px;
    padding-bottom: 30px; }
  .photo-gallery .third-photo {
    left: 460px; }
  .photo-gallery .fouth-photo {
    left: auto;
    right: 0; }
  .footer .wrapper {
    flex-direction: column; }
  .footer__container {
    margin-bottom: 20px; } }

@media screen and (max-width: 900px) {
  .cookie__text {
    max-width: 220px; }
  .main-menu {
    overflow-y: auto; }
    .main-menu .menu__container {
      flex-wrap: wrap; }
    .main-menu .menu__column {
      margin-right: 30px;
      margin-bottom: 30px; }
    .main-menu .menu__item {
      margin-bottom: 25px; }
      .main-menu .menu__item a {
        font-size: 20px;
        line-height: 28px; }
    .main-menu .submenu__item a {
      font-size: 15px;
      line-height: 23px; }
  .header__tagline {
    font-size: 40px;
    line-height: 50px; }
  .header__text-container {
    max-width: 440px; }
  .header-link {
    font-size: 17px;
    padding: 20px 10px; }
  .slider-baths .slide__name {
    left: 20px;
    font-size: 25px; }
  .slider-baths .slide__text {
    position: absolute;
    left: 20px; }
  .slider-baths .slide__people-count {
    margin-left: 0;
    font-size: 20px; }
  .slider-baths .slide__desc {
    margin-left: 0; }
  .slider-baths .slide__cost {
    margin-left: 0; }
  .slider-baths .slide .cost-time {
    color: #ffffff; }
  .slider-baths .slide .cost-money {
    font-size: 27px; }
  .banner__name {
    top: 30px;
    font-size: 30px; }
  .banner__text {
    top: 100px; }
  .banner-btns {
    bottom: 5px; }
  .photo-gallery {
    display: none; }
  .gallery-container img {
    width: 130px; }
  .contacts__heading {
    font-size: 40px;
    line-height: 50px; }
  .contacts {
    padding-top: 50px; }
  .contacts svg {
    top: -50px; }
  .footer__container {
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  .cookie__btn {
    padding: 13px 13px; }
  .header-link {
    font-size: 17px;
    padding: 20px 15px; }
  .slider-links-list__item a {
    padding: 15px 20px; }
  .service-menu {
    justify-content: space-around; }
  .service-menu__item a {
    padding-top: 2px; }
  .banner__name {
    top: 0; }
  .banner__text {
    top: 55px; }
  .banner__desc {
    margin-bottom: 0; }
  .disagree-cookie svg {
    right: 0; } }

@media screen and (max-width: 650px) {
  .cookie__text {
    margin-right: 10px; }
  .cookie {
    padding-left: 160px; }
  .header-link {
    font-size: 15px;
    padding: 20px 10px; }
  .header__text-container {
    max-width: 300px; }
  .header .wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  .all-baths {
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px; }
  .swiper-button-next, .swiper-button-prev {
    font-size: 17px; }
  .swiper-button-prev {
    padding-left: 30px; }
  .swiper-button-next {
    padding-right: 30px; }
  .swiper-button-next::before, .swiper-button-prev::before {
    width: 20px; }
  .all-baths::after, .all-baths::before {
    width: 20px; }
  .slider-baths .slide__people-count {
    margin-right: 0; }
  .slider-links-list__item a {
    font-size: 15px;
    padding: 15px 15px; }
  .slider-baths .slide__name {
    letter-spacing: 10px; }
  .banner__text {
    display: none; }
  .banner__name {
    top: 50px;
    left: 15px;
    font-size: 35px;
    line-height: 40px; }
  .activity__tagline {
    font-size: 30px;
    line-height: 40px; }
  .activity__link {
    padding: 15px 30px; }
  .gallery-container img {
    width: 120px; }
  .contacts__heading {
    font-size: 30px;
    line-height: 40px; }
  .contacts__number {
    font-size: 30px;
    line-height: 40px; }
  .contacts__address {
    margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .cookie {
    padding-left: 115px; }
  .main-menu .menu__column {
    margin-left: 30px; }
  .nav__logo .small-logo {
    width: 50px; }
  .js-small-nav.nav {
    width: 100px; }
  .header .wrapper {
    margin-left: 100px; }
  .slider-baths .wrapper {
    margin-left: 100px; }
  .services .wrapper {
    padding-left: 100px; }
  .banners .wrapper {
    padding-left: 100px; }
  .activity-container {
    padding-left: 100px; }
  .gallery .wrapper {
    margin-left: 100px; }
  .contacts .wrapper {
    margin-left: 0;
    padding-left: 115px; }
  .footer .wrapper {
    margin-left: 0;
    padding-left: 115px; } }

@media screen and (max-width: 450px) {
  .main-menu .wrapper {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px; }
  .main-menu.js-menu-open {
    padding-top: 130px; }
  .js-small-nav.nav {
    max-width: none;
    width: 100%;
    height: 100px;
    flex-direction: row;
    padding: 0 30px; }
  .js-small-nav .nav__logo {
    margin-left: auto;
    margin-right: 0; }
  .nav__menu {
    display: flex; }
  .languages {
    margin-top: 0;
    margin-left: 20px; }
  .header .wrapper {
    margin-left: 0; }
  .main-menu .menu__column {
    margin-left: 0px; }
  .nav {
    max-width: 130px; }
  .slider-baths .wrapper {
    margin-left: 0px; }
  .services .wrapper {
    padding-left: 0px; }
  .banners .wrapper {
    padding-left: 0px; }
  .activity-container {
    padding-left: 15px;
    padding-right: 15px; }
  .gallery .wrapper {
    margin-left: 15px;
    padding-right: 15px; }
  .contacts .wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .footer .wrapper {
    padding-left: 15px;
    padding-right: 15px; }
  .cookie {
    top: auto;
    bottom: 0;
    padding-left: 15px;
    padding-right: 15px; }
  .disagree__text {
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (max-width: 400px) {
  .header__text-container {
    right: 10px; }
  .nav__contacts {
    display: none; }
  .main-menu .wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-left: 90px; }
  .swiper-button-next::before, .swiper-button-prev::before {
    display: none; }
  .swiper-button-next {
    padding-right: 5px; }
  .swiper-button-prev {
    padding-left: 5px; }
  .slider-baths .slide__text {
    margin-top: 50px; }
  .slider-links-list__item a {
    padding: 15px 12px; }
  .service__name {
    font-size: 30px;
    line-height: 45px;
    margin-top: 100px; }
  .activity-slide {
    max-width: 330px; } }
