@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'ArnoPro-Regular';
  src: url(../fonts/ArnoPro-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'ArnoPro-Display';
  src: url(../fonts/ArnoPro-Display.ttf) format("truetype");
  font-style: normal;
  font-weight: 300; }

.btn, .link {
  display: block;
  background-color: #352a2a;
  color: #ffffff;
  padding: 15px 39px;
  padding-bottom: 13px;
  font-size: 21px;
  font-family: 'ArnoPro-Display', sans-serif;
  transition: all 0.4s; }
  .btn:hover, .link:hover {
    background-color: #3b3030;
    transition: all 0.4s; }
  .btn.active, .link.active {
    background-color: #e38027;
    transition: all 0.4s; }
    .btn.active:hover, .link.active:hover {
      background-color: #df7211;
      transition: all 0.4s; }

.wrapper {
  max-width: 1920px;
  padding: 0;
  padding-left: 139px;
  padding-right: 122px;
  margin: 0 auto;
  margin-left: 150px;
  z-index: 1; }

.js-body-overflow {
  overflow: hidden; }

.svg-icon svg {
  width: 754px;
  position: absolute;
  top: -100px;
  right: 328px;
  z-index: -1; }

.cookie {
  background-color: #2d2727;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-right: 139px;
  padding-left: 340px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100; }
  .cookie .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .cookie__text {
    color: #ffffff;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    margin-left: 98px; }
  .cookie__buttons {
    display: flex;
    flex-direction: row; }
  .cookie__btn:first-child {
    margin-right: 20px; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 45px;
  padding-bottom: 40px;
  z-index: 101;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .nav__contacts {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 18px;
    color: #2d2727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .nav__contacts .tel {
      margin-bottom: 15px;
      color: #2d2727; }
    .nav__contacts .map {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 18px; }

.burger {
  width: 30px;
  height: 1px;
  background-color: #e38027;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .burger::after, .burger::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #e38027;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .burger::after {
    top: -7px; }
  .burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 20px;
    cursor: pointer; }
    .burger-wrapper:hover .burger {
      background-color: transparent;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper:hover .burger::after {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper:hover .burger::before {
      top: 0;
      -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotateZ(-45deg);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper.js-burger .burger {
      background-color: transparent;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper.js-burger .burger::after {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .burger-wrapper.js-burger .burger::before {
      top: 0;
      -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotateZ(-45deg);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 42px; }
  .languages__item:nth-child(2n) {
    margin-left: 20px; }
  .languages__item a {
    font-size: 18px;
    font-family: "ArnoPro-Display", sans-serif;
    color: #2d2727; }

.small-logo {
  display: none; }

.js-small-nav.nav {
  width: 150px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.js-small-nav .nav__logo {
  margin: auto; }

.js-small-nav .big-logo {
  display: none; }

.js-small-nav .small-logo {
  display: block; }

.js-small-nav .nav__contacts {
  display: none; }

.main-menu {
  width: 100%;
  height: 0;
  position: fixed;
  top: -1000px;
  left: 0;
  background-color: #352a2a;
  padding: 0;
  z-index: 100;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  .main-menu .menu__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 149px;
    padding-right: 135px; }
  .main-menu .menu__item {
    margin-bottom: 54px; }
    .main-menu .menu__item a {
      font-family: "ArnoPro-Display", sans-serif;
      font-size: 42px;
      line-height: 46px;
      color: #ffffff;
      display: block;
      opacity: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
      .main-menu .menu__item a:hover {
        opacity: 0.7;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
  .main-menu .menu__address {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 250px;
    margin-top: 13px; }
  .main-menu .submenu__list {
    margin-top: 15px; }
  .main-menu .submenu__item a {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 21px;
    line-height: 28px;
    color: #7b6a6a;
    margin-bottom: 8px;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .main-menu .submenu__item a:hover {
      color: #ffffff;
      opacity: 1;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }

.main-menu.js-menu-open {
  top: 0;
  height: 100%;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  padding-top: 95px;
  padding-bottom: 100px; }

.header {
  height: 100vh; }
  .header .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-image: url("../img/main.png");
    background-position: right; }
  .header__text-container {
    margin-left: auto;
    margin-right: 164px;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 190px;
    right: 90px; }
  .header__tagline {
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    font-family: "ArnoPro-Regular", sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 28px; }
  .header__description {
    font-size: 15px;
    line-height: 25px;
    font-family: "HelveticaNeueCyr", sans-serif;
    color: #ffffff;
    text-align: center;
    max-width: 540px; }
  .header__links {
    position: relative;
    margin-right: 201px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .header-link {
    padding: 28px 60px; }

.content__video {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: .7; }

.slider-baths {
  background-color: #2d2727; }
  .slider-baths .wrapper {
    padding-right: 0px;
    padding-left: 0px; }
  .slider-baths .slide {
    position: relative;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 150px; }
    .slider-baths .slide a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start; }
    .slider-baths .slide__name {
      font-size: 130px;
      color: #ffffff;
      font-family: "ArnoPro-Display", sans-serif;
      letter-spacing: 26px;
      position: absolute;
      top: 100px;
      left: 470px;
      text-transform: uppercase; }
    .slider-baths .slide__text {
      margin-top: 240px; }
    .slider-baths .slide__people-count {
      font-size: 40px;
      font-family: "ArnoPro-Display", sans-serif;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin-bottom: 43px;
      word-spacing: 3px;
      margin-right: 120px;
      padding-top: 4px;
      letter-spacing: 8px; }
    .slider-baths .slide__desc {
      color: #ffffff;
      font-size: 15px;
      line-height: 25px;
      font-family: "HelveticaNeueCyr", sans-serif;
      max-width: 440px;
      margin-right: auto;
      margin-left: 60px;
      margin-bottom: 47px; }
    .slider-baths .slide__cost {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-left: 60px; }
    .slider-baths .slide .cost-type {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 46px; }
    .slider-baths .slide .cost-time {
      font-size: 21px;
      line-height: 29px;
      color: #7b6a6a;
      font-family: "ArnoPro-Display", sans-serif; }
    .slider-baths .slide .cost-money {
      font-size: 38px;
      color: #ffffff;
      font-family: "ArnoPro-Display", sans-serif; }

.slider-links {
  margin-top: 80px;
  margin-left: 157px;
  display: flex;
  flex-direction: row; }
  .slider-links-list {
    display: flex;
    flex-direction: row; }
    .slider-links-list__item a {
      padding: 30px 60px;
      padding-bottom: 25px; }
  .slider-links__time {
    padding: 30px 63px;
    margin-right: 160px;
    padding-bottom: 25px; }

.swiper-button-next, .swiper-button-prev {
  top: 57px;
  color: #ffffff;
  font-family: "ArnoPro-Display", sans-serif;
  font-size: 21px;
  width: auto; }
  .swiper-button-next::before, .swiper-button-prev::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 20px;
    right: 0; }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  margin-right: 0;
  right: 0;
  padding-right: 60px; }

.swiper-button-prev {
  padding-left: 60px;
  left: 0px; }
  .swiper-button-prev::before {
    left: 0;
    right: auto; }

.slider-list {
  padding: 45px 50px;
  padding-bottom: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: min-content;
  position: absolute;
  top: 50px;
  left: calc(50% - 85px);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s, visibility 0.8s, top 0.8s; }
  .slider-list__item {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 21px;
    line-height: 27px;
    color: #2d2727;
    margin-bottom: 8px; }

.slider__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  position: relative;
  margin-bottom: 85px; }
  .slider__btns:hover .slider-list, .slider__btns:active .slider-list, .slider__btns:focus .slider-list {
    opacity: 1;
    visibility: visible;
    top: 85px;
    transition: opacity 0.8s, visibility 0.8s, top 0.8s; }

.all-baths {
  font-family: "ArnoPro-Display", sans-serif;
  font-size: 21px;
  color: #7b6a6a;
  position: relative;
  padding-left: 60px;
  padding-right: 60px; }
  .all-baths::after, .all-baths::before {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 11px;
    left: 0; }
  .all-baths::after {
    right: 0;
    left: auto; }

.services {
  background-color: #2d2727;
  height: 100vh; }
  .services .wrapper {
    margin-left: 0;
    padding-left: 150px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    height: 100%; }

.service {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  padding-left: 139px;
  padding-right: 140px;
  padding-bottom: 55px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 1s; }
  .service:hover {
    width: 75%;
    transition: all 1s; }
    .service:hover .service-menu {
      opacity: 1;
      transition: all 0.4s; }
  .service__name {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
    text-align: center;
    margin-top: 425px; }
    .service__name:nth-child(2) {
      margin-top: 384px; }
  .service__desc {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 33px; }
  .service-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 0;
    opacity: 0;
    transition: all 0.4s; }
    .service-menu__item a {
      font-size: 24px;
      font-family: "ArnoPro-Display", sans-serif;
      line-height: 32px;
      color: #ffffff;
      padding-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0);
      transition: border-top 0.4s; }
      .service-menu__item a:hover {
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        transition: border-top 0.4s; }

.banners {
  background-color: #2d2727;
  height: 100vh; }
  .banners .wrapper {
    margin-left: 0;
    padding-left: 150px;
    padding-right: 0px;
    height: 100%;
    position: relative; }
  .banners-wrapper {
    position: relative;
    height: 100%; }
  .banners-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; }

.banner {
  position: relative;
  height: 100%; }
  .banner img {
    width: 100%;
    height: 100%;
    z-index: -1; }
  .banner__text {
    position: absolute;
    top: 378px;
    padding-left: 139px;
    z-index: 1; }
  .banner__name {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    position: absolute;
    top: 192px;
    left: 137px;
    max-width: 574px;
    z-index: 1; }
  .banner__desc {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    width: 100%;
    max-width: 612px;
    margin-bottom: 24px; }
  .banner-btns {
    position: absolute;
    bottom: 47px;
    right: 0;
    z-index: 10; }
  .banner-btn {
    font-size: 21px;
    font-family: "ArnoPro-Display", sans-serif;
    color: #ffffff;
    position: relative; }
    .banner-btn:first-child {
      margin-right: 50px;
      padding-left: 60px; }
    .banner-btn:nth-child(2) {
      padding-right: 60px; }
      .banner-btn:nth-child(2)::before {
        right: 0;
        left: auto; }
    .banner-btn::before {
      content: "";
      width: 50px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.25);
      position: absolute;
      top: 9px;
      left: 0; }
  .banner__shadow {
    -webkit-box-shadow: -90px -48px 144px 77px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -90px -48px 144px 77px rgba(0, 0, 0, 0.88);
    box-shadow: -90px -48px 144px 77px rgba(0, 0, 0, 0.88);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 1px;
    z-index: 10; }

.photo-gallery {
  width: 100%;
  height: 510px;
  padding-left: 150px;
  position: relative; }
  .photo-gallery .first-photo {
    position: absolute;
    top: 216px;
    left: 127px; }
  .photo-gallery .second-photo {
    position: absolute;
    top: 138px;
    left: 385px; }
  .photo-gallery .third-photo {
    position: absolute;
    top: 238px;
    left: 526px; }
  .photo-gallery .fouth-photo {
    position: absolute;
    top: 95px;
    left: 952px; }
  .photo-gallery .sixth-photo {
    position: absolute;
    top: 50px;
    left: 1211px; }
  .photo-gallery .seventh-photo {
    position: absolute;
    top: 257px;
    right: 231px; }
  .photo-gallery .eighth-photo {
    position: absolute;
    top: 213px;
    right: 0px; }

.activity-container {
  position: relative;
  padding-left: 289px;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.activity__tagline {
  font-size: 76px;
  line-height: 80px;
  font-family: "ArnoPro-Regular", sans-serif;
  color: #2d2727;
  max-width: 740px;
  margin-top: 37px; }

.activity__desc {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #2d2727;
  max-width: 610px;
  margin-top: 27px;
  margin-bottom: 80px; }

.activity__link {
  display: inline;
  padding: 28px 60px; }

.activity-slider {
  margin-left: 289px;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1; }
  .activity-slider__btns {
    position: absolute;
    bottom: -67px;
    right: 0; }
  .activity-slider__btn {
    font-size: 21px;
    font-family: "ArnoPro-Display", sans-serif;
    color: #2d2727;
    position: relative; }
    .activity-slider__btn:first-child {
      margin-right: 50px;
      padding-left: 60px; }
    .activity-slider__btn:nth-child(2) {
      padding-right: 60px; }
      .activity-slider__btn:nth-child(2)::before {
        right: 0;
        left: auto; }
    .activity-slider__btn::before {
      content: "";
      width: 50px;
      height: 1px;
      background-color: rgba(26, 26, 24, 0.1);
      position: absolute;
      top: 9px;
      left: 0; }

.activity-slide {
  position: relative;
  max-width: 414px;
  margin-right: 38px; }
  .activity-slide img {
    width: 100%;
    display: block; }
  .activity-slide__shadow {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88);
    box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88); }
  .activity-slide__text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 45px;
    padding-left: 40px;
    padding-right: 40px; }
  .activity-slide__date {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 42px;
    color: #ffffff; }
  .activity-slide__name {
    font-family: "ArnoPro-Display", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0.25);
    max-width: 250px; }

.gallery {
  margin-top: 195px; }
  .gallery-heading {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 60px;
    line-height: 64px;
    color: #2d2727;
    text-align: center;
    max-width: 690px;
    margin: 0 auto; }
  .gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px; }
    .gallery-container img {
      display: block; }

.contacts-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 88px; }

.soc-link {
  padding: 30px;
  background-color: #352a2a;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .soc-link img {
    width: 15px;
    height: 100%; }
  .soc-link.vk {
    padding-top: 29px;
    padding-bottom: 31px; }
  .soc-link.fb {
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05); }
  .soc-link:hover {
    background-color: #3b3030;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.contacts {
  margin-top: 143px;
  background-color: #2d2727;
  padding-top: 100px;
  padding-bottom: 98px;
  position: relative; }
  .contacts .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
    position: relative; }
  .contacts__container {
    margin-top: 93px; }
  .contacts__heading {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 76px;
    line-height: 80px;
    color: #ffffff;
    max-width: 730px;
    margin-bottom: 27px; }
  .contacts__address {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 575px;
    margin-bottom: 60px; }
  .contacts__number {
    font-family: "ArnoPro-Regular", sans-serif;
    font-size: 42px;
    line-height: 46px;
    color: #ffffff;
    margin-bottom: 10px;
    display: block; }
  .contacts__schedule {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    max-width: 575px; }

.footer {
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px; }
  .footer .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__name {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #2d2727;
    margin-right: 170px; }
  .footer__contacts {
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #2d2727; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }

.dextra__name {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e38027;
  padding: 6px 6px 3px;
  border-radius: 2px;
  margin-right: 10px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }

.dextra__job {
  display: block;
  float: right;
  font-size: 9px;
  line-height: 14px;
  color: rgba(56, 47, 45, 0.5);
  font-family: 'Verdana';
  text-transform: uppercase;
  margin-top: -2px; }

.dextra:hover .dextra__name {
  color: #e38027;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
