@import includes/vars
.photo-gallery
  width: 100%
  height: 510px
  position-left: 150px
  position: relative
  .first-photo
    position: absolute
    top: 216px
    left: 127px
  .second-photo
    position: absolute
    top: 138px
    left: 385px
  .third-photo
    position: absolute
    top: 238px
    left: 526px
  .fouth-photo
    position: absolute
    top: 95px
    left: 950px
  .sixth-photo
    position: absolute
    top: 50px
    left: 1210px
  .seventh-photo
    position: absolute
    top: 257px
    right: 216px
  .eighth-photo
    position: absolute
    top: 213px
    right: 0px
.activity
  &-container
    position: relative
    padding-left: 289px
    margin-top: 95px
    display: flex
    flex-direction: row
    justify-content: space-between
  &__tagline
    font-size: 76px
    line-height: 80px
    font-family: $armo-reg
    color: #2d2727
    max-width: 740px
  &__desc
    font-family: $helvetica-neue
    font-size: 15px
    line-height: 25px
    color: $text-brown-color
    max-width: 610px
    margin-top: 50px
    margin-bottom: 60px
  &__link
    display: inline
  &-slider
    &__btns
      position: absolute
      bottom: -50px
      right: 0
    &__btn
      font-size: 21px
      font-family: $armo-display
      color: #2d2727
      position: relative
      &:first-child
        margin-right: 50px
        padding-left: 60px
      &:nth-child(2)
        padding-right: 60px
        &::before
          right: 0
          left: auto
      &::before
        content: ""
        width: 50px
        height: 1px
        background-color: rgba(26, 26, 24, 0.1)
        position: absolute
        top: 9px
        left: 0
  &-slide
    position: relative
    max-width: 414px
    img
      width: 100%
      display: block
    &__shadow
      width: 1px
      height: 1px
      position: absolute
      bottom: 0
      left: 0
      -webkit-box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88)
      -moz-box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88)
      box-shadow: 100px -100px 70px 80px rgba(0, 0, 0, 0.88)
    &__text
      position: absolute
      bottom: 0
      left: 0
      padding-bottom: 45px
      padding-left: 40px
      padding-right: 40px
    &__date
      font-family: $armo-display
      font-size: 42px
      color: #ffffff
    &__name
      font-family: $armo-display
      font-size: 24px
      line-height: 28px
      color: #ffffff
      text-decoration-style: dotted
      text-decoration-line: underline
      text-decoration-color: rgba(255, 255, 255, 0.25)
      max-width: 250px
