@import includes/vars

.contacts
  margin-top: 143px
  background-color: $bac-color
  padding-top: 100px
  padding-bottom: 98px
  position: relative
  .wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    z-index: 1
    position: relative
  &__container
    margin-top: 93px
  &__heading
    font-family: $armo-reg
    font-size: 76px
    line-height: 80px
    color: #ffffff
    max-width: 730px
    margin-bottom: 27px
  &__address
    font-family: $helvetica-neue
    font-size: 15px
    line-height: 25px
    color: #ffffff
    max-width: 575px
    margin-bottom: 60px
  &__number
    font-family: $armo-reg
    font-size: 42px
    line-height: 46px
    color: #ffffff
    margin-bottom: 10px
    display: block
  &__schedule
    font-family: $helvetica-neue
    font-size: 15px
    line-height: 25px
    color: #ffffff
    max-width: 575px
