@import vars

.cookie
  background-color: $bac-color
  padding-top: 22px
  padding-bottom: 23px
  padding-right: 139px
  padding-left: 340px
  position: fixed
  top: 0
  right: 0
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  z-index: 100
  opacity: 1
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  transition: all 0.4s
  .wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  &__text
    color: #ffffff
    font-size: 15px
    font-family: 'HelveticaNeueCyr', sans-serif
    margin-left: 98px
  &__buttons
    display: flex
    flex-direction: row
  &__btn:first-child
    margin-right: 20px
.cookie.cookie-close
  opacity: 0
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  transition: all 0.4s
.disagree-cookie
  width: 100%
  height: 100%
  position: fixed
  top: -1000px
  left: 0
  background-color: $bac-color
  z-index: 120
  opacity: 0
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  transition: all 0.4s
.disagree__text
  font-family: $armo-display
  font-size: 26px
  line-height: 30px
  color: #ffffff
  max-width: 400px
  text-align: center
  margin-top: 300px
  margin-left: auto
  margin-right: auto
.disagree__close
  margin-left: auto
  margin-right: auto
  margin-top: 50px
.disagree-cookie.disagree-open-popup
  top: 0
  opacity: 1
  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  transition: all 0.4s
