@import includes/vars
.header
  height: 100vh
  position: relative
  transition: all 1.5s 0.5s
  .wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
  &__text-container
    margin-left: auto
    margin-right: 164px
    display: flex
    flex-direction: column
    max-width: 650px
    justify-content: flex-start
    align-items: center
    position: absolute
    top: 190px
    right: 90px
  &__tagline
    font-size: 76px
    line-height: 80px
    color: #ffffff
    font-family: $armo-reg
    width: 100%
    text-align: center
    margin-bottom: 28px
    animation: opening-opacity 1s ease 1s
  &__description
    font-size: 15px
    line-height: 25px
    font-family: $helvetica-neue
    color: #ffffff
    text-align: center
    max-width: 540px
  &__links
    position: absolute
    margin-right: 201px
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    bottom: 0
    right: 0
    height: auto
    opacity: 1
    -webkit-transition: width 0.4s
    -o-transition: width 0.4s
    transition: width 0.4s
    animation: opening-btns 1s 1.3s
  &-link
    padding: 28px 60px
.content__video
  position: absolute
  z-index: -1
  top: 50%
  left: 50%
  min-height: 100%
  height: auto
  min-width: 100%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  opacity: 1
  -webkit-transition: all 2s 0.5s
  -o-transition: all 2s 0.5s
  transition: all 2s 0.5s
.header-container
  height: 100%
  animation: opening-video 1s linear

@keyframes opening-video
  0%
    transform: translate(0px, -1005px)
  100%
    transform: translate(0px, 0px)
@keyframes opening-nav
  0%
    height: 0
    transition: all 0.2s
  25%
    height: 25%
    transition: all 0.2s
  50%
    height: 50%
    transition: all 0.2s
  75%
    height: 75%
    transition: all 0.2s
  100%
    height: 100%
    transition: all 0.2s
@keyframes opening-opacity
  0%
    opacity: 0
  25%
    opacity: 0.25
  50%
    opacity: 0.5
  75%
    opacity: 0.75
  100%
    opacity: 1


