@media screen and ( max-width:1800px)
  .cookie
    padding-right: 20px
  .cookie__text
    margin-left: 30px
  .cookie__btn
    font-size: 19px
    padding: 13px 25px
  .service
    padding-left: 50px
    padding-right: 50px
  .service__name
    margin-top: 250px
@media screen and ( max-width:1500px)
  .main-menu
    .menu__container
      padding-right: 0
    svg
      right: 0
    .menu__item
      a
        font-size: 32px
        line-height: 36px
    .submenu__item
      a
        font-size: 17px
        line-height: 25px
  .cookie__btn:first-child
    margin-right: 0
  .cookie__text
    font-size: 13px
    margin-left: 0px
  .slider-baths .slide
    padding-left: 0px
  .slide__img
    img
      max-width: 595px
  .slider-baths .slide__name
    left: 50px
    top: 50px
    font-size: 110px
  .slider-baths .slide__text
    margin-top: 160px
  .slider-baths .slide__people-count
    margin-bottom: 15px
  .slider-baths .slide__desc
    margin-bottom: 30px
  .slider-links
    margin-top: -2px

@media screen and ( max-width:1366px)
  .main-menu
    .wrapper
      padding-right: 30px
    .menu__container
      padding-left: 50px
  .cookie
    height: 100%
  .header__text-container
    margin-right: 0
    right: 35px
  .header__links
    margin-right: 0
  .header .wrapper
    padding-right: 35px
  .slider-baths .slide
    max-width: 1290px
  .slider-links__time
    display: none
  .slider__btns
    margin-bottom: 30px
  .service
    padding-left: 10px
    padding-right: 10px
@media screen and ( max-width:1200px)
  .slide__img img
    max-width: 400px
  .slider-baths .slide__name
    font-size: 60px
    left: 150px
    top: 20px
  .slider-baths .slide__text
    margin-top: 80px
  .slider-baths .slide__people-count
    font-size: 30px
    text-align: left
  .slider-baths .slide__desc
    margin-bottom: 20px
  .slider-baths .slide .cost-money
    font-size: 20px
  .slider-links
    margin-left: 100px
  .service__name
    font-size: 50px
  .service-menu__item a
    font-size: 20px
@media screen and ( max-width:1000px)
  .main-menu
    .wrapper
      padding-left: 35px
  .nav
    max-width: 185px
  .header-link
    padding: 20px 25px
  .slider-baths .slide__desc
    margin-left: 30px
  .slider-baths .slide__people-count
    margin-left: 30px
  .slider-baths .slide__cost
    margin-left: 30px
  .slider-baths .slide .cost-type
    margin-right: 20px
  .slider-baths .slide__desc
    margin-bottom: 10px
  .slider-links-list__item a
    padding: 15px 30px
    padding-bottom: 15px
  .slider-links
    margin-left: 0
  .services
    height: auto
  .service-menu
    flex-wrap: wrap
  .service-menu__item
    margin-right: 20px
  .services .wrapper
    flex-direction: column
  .service
    width: 100%
  .service:hover
    width: 100%
@media screen and ( max-width:900px)
  .main-menu
    overflow-y: auto
    .menu__container
      flex-wrap: wrap
    .menu__column
      margin-right: 30px
      margin-bottom: 30px
    .menu__item
      margin-bottom: 25px
      a
        font-size: 20px
        line-height: 28px
    .submenu__item
      a
        font-size: 15px
        line-height: 23px
  .header__tagline
    font-size: 40px
    line-height: 50px
  .header__text-container
    max-width: 440px
  .header-link
    font-size: 17px
    padding: 20px 10px
  .slider-baths .slide__name
    left: 20px
    font-size: 25px
  .slider-baths .slide__text
    position: absolute
    left: 20px
  .slider-baths .slide__people-count
    margin-left: 0
    font-size: 20px
  .slider-baths .slide__desc
    margin-left: 0
  .slider-baths .slide__cost
    margin-left: 0
  .slider-baths .slide .cost-time
    color: #ffffff
  .slider-baths .slide .cost-money
    font-size: 27px
@media screen and ( max-width:700px)
  .header-link
    font-size: 17px
    padding: 20px 15px
  .slider-links-list__item a
    padding: 15px 20px
  .service-menu
    justify-content: space-around
  .service-menu__item a
    padding-top: 2px
@media screen and ( max-width:650px)
  .header-link
    font-size: 15px
    padding: 20px 10px
  .header__text-container
    max-width: 300px
  .header .wrapper
    padding-left: 10px
    padding-right: 10px
  .all-baths
    font-size: 17px
    padding-left: 30px
    padding-right: 30px
  .swiper-button-next, .swiper-button-prev
    font-size: 17px
  .swiper-button-prev
    padding-left: 30px
  .swiper-button-next
    padding-right: 30px
  .swiper-button-next::before, .swiper-button-prev::before
    width: 20px
  .all-baths::after, .all-baths::before
    width: 20px
  .slider-baths .slide__people-count
    margin-right: 0
  .slider-links-list__item a
    font-size: 15px
    padding: 15px 15px
  .slider-baths .slide__name
    letter-spacing: 10px
@media screen and ( max-width:500px)
  .main-menu
    .menu__column
      margin-left: 30px
  .nav__logo
    .small-logo
      width: 50px
  .js-small-nav.nav
    width: 100px
  .header .wrapper
    margin-left: 100px
  .slider-baths .wrapper
    margin-left: 100px
  .services .wrapper
    padding-left: 100px
@media screen and ( max-width:450px)
  .js-small-nav.nav
    max-width: none
    width: 100%
    height: 100px
    flex-direction: row
    padding: 0 30px
  .header .wrapper
    margin-left: 0
  .main-menu
    .menu__column
      margin-left: 0px
  .nav
    max-width: 130px
  .slider-baths .wrapper
    margin-left: 0px
  .services .wrapper
    padding-left: 0px
@media screen and ( max-width:400px)
  .header__text-container
    right: 10px
  .nav
    &__contacts
      display: none
  .main-menu .wrapper
    padding-left: 0
    padding-right: 0
    margin-left: 90px
  .swiper-button-next::before, .swiper-button-prev::before
    display: none
  .swiper-button-next
    padding-right: 5px
  .swiper-button-prev
    padding-left: 5px
  .slider-baths .slide__text
    margin-top: 50px
  .slider-links-list__item a
    padding: 15px 12px
  .service__name
    font-size: 30px
    line-height: 45px
    margin-top: 100px
