include bemto/bemto.pug
doctype html
html
  head(lang="ru")
    include layouts/__head
  body
    include layouts/__cookies
    include layouts/__menu
    include layouts/__header
    include layouts/__sliderbaths
    include layouts/__services
    include layouts/__banners
    include layouts/__activity
    include layouts/__gallery
    include layouts/__contacts
    include layouts/__footer
