include ../bemto/bemto.pug
section.activity
  .photo-gallery
    img(src="", alt="alt")
    img(src="", alt="alt")
    img(src="", alt="alt")
    img(src="", alt="alt")
    img(src="", alt="alt")
    img(src="", alt="alt")
  .activity-container
    .activity__banner
      h2.activity__tagline Уникальные мероприятия и социальные проекты
      p.activity__desc Мы ценим дружбу и общение, стараемся развивать семейные традиции. Организация уникальные мероприятия для всей самьи и участвуем в социальных проектах. Вы можете купить билет на любое мероприятие или заказать проведение своего.
      a.link.activity__link(href="") Календарь мероприятий
    .activity-slider
      .activity-slide
        img(src="", alt="alt")
        p.activity-slide__date 14/02
        p.activity-slide__name Отмечаем день всех влюбленных
      a(href="") Назад
      a(href="") Далее
