include ../bemto/bemto.pug
section.activity
  .photo-gallery
    img.first-photo(src="img/tape/img-5.png", alt="alt")
    img.second-photo(src="img/tape/img-6.png", alt="alt")
    img.third-photo(src="img/tape/img-4.png", alt="alt")
    img.fouth-photo(src="img/tape/img.png", alt="alt")
    img.sixth-photo(src="img/tape/img-3.png", alt="alt")
    img.seventh-photo(src="img/tape/img-1.png", alt="alt")
    img.eighth-photo(src="img/tape/img-2.png", alt="alt")
  .activity-container
    .activity__banner
      h2.activity__tagline Уникальные мероприятия и&nbsp;социальные&nbsp;проекты
      p.activity__desc Мы ценим дружбу и общение, стараемся развивать семейные традиции. Организация&nbsp;уникальные мероприятия для всей самьи и участвуем в социальных проектах.&nbsp;Вы&nbsp;можете купить билет на любое мероприятие или заказать проведение&nbsp;своего.
      a.link.activity__link.active(href="") Календарь мероприятий
    .activity-slider
      .activity-slide
        .activity-slide__shadow
        img(src="img/activity-1.png", alt="мероприятие")
        .activity-slide__text
          p.activity-slide__date 14/02
          p.activity-slide__name Отмечаем день всех влюбленных
      .activity-slider__btns
        a.activity-slider__btn(href="") Назад
        a.activity-slider__btn(href="") Далее
