include ../bemto/bemto.pug
section.banners
  .banners-wrapper
    .banner
      h2.banner__name Богатая инфраструктура
      .banner__text
        p.banner__desc Структуру комплекса составляют 11 уникальных построек, переступив порог которых легко очуиться в рыбацкой избушке, боярских палатах или просторных комнатах царского терема.
        p.banner__desc Вокруг большая, благоустроенная и открытая для прогулок территория. Беседки, детская площадка, поляны для пикника на открытом воздухе.
    a(href="") Назад
    a(href="") Далее

