include ../bemto/bemto.pug
section.banners
  .wrapper
    .banners-wrapper
      .banner
        img(src="img/banner.png", alt="alt")
        h2.banner__name Богатая инфраструктура
        .banner__text
          p.banner__desc Структуру комплекса составляют 11 уникальных построек, переступив порог которых&nbsp;легко очуиться в рыбацкой избушке, боярских палатах или просторных комнатах царского терема.
          p.banner__desc Вокруг большая, благоустроенная и открытая для прогулок территория. Беседки, детская площадка, поляны для пикника на открытом воздухе.
      .banner__shadow
      .banner-btns
        a.banner-btn(href="") Назад
        a.banner-btn(href="") Далее
