include ../bemto/bemto.pug
.cookie
  .wrapper
    p.cookie__text Сайт использует файлы «cookie» с целью персонализации сервисов и повышения удобства пользования веб-сайтом.
    .cookie__buttons
      button.btn.cookie__btn Согласен
      button.btn.cookie__btn Не согласен
