include ../bemto/bemto.pug
section.contacts
  .wrapper
    .contacts__container
      h2.contacts__heading Всего 15 минут от центра Екатеринбурга и 10 от аэропорта!
      p.contacts__address Комплекс «Чапаевские бани» расположен в Екатеринбурге на 9 километре Сибирского тракта на улице МОПРа, 1.
      a.contacts__number(href="") +7-343-247-21-07
      p.contacts__schedule Комплекс работает круглосуточно, без выходных и перерывов.
    .contacts__map
      
