include ../bemto/bemto.pug
.cookie
  p.cookie__text Сайт использует файлы «cookie» с целью персонализации сервисов и повышения удобства пользования веб-сайтом.
  .cookie__buttons
    button.btn.cookie__btn.active.agree Согласен
    button.btn.cookie__btn.disagree Не согласен
