include ../bemto/bemto.pug
footer.footer
  .wrapper
    .footer__container
      p.footer__name © ООО «Кристалл»
      .footer__contacts
        p Екатеринбург, 9 км. Сибирского тракта, ул.МОПРа, 1
        p +7-343-247-21-07
    a(href="https://www.dextra.ru/" target="_blank")
      .dextra
        span.dextra__name DEXTRA
        span.dextra__job разработка<br>сайта
