include ../bemto/bemto.pug
section.gallery
  .wrapper
    h2.gallery-heading Фотографии с мероприятий в нашем Intagram
    .gallery-container
      img(src="img/gallery/img.png", alt="alt")
      img(src="img/gallery/img-1.png", alt="alt")
      img(src="img/gallery/img-2.png", alt="alt")
      img(src="img/gallery/img-3.png", alt="alt")
      img(src="img/gallery/img-4.png", alt="alt")
      img(src="img/gallery/img-5.png", alt="alt")
      img(src="img/gallery/img-6.png", alt="alt")
      img(src="img/gallery/img-7.png", alt="alt")
      img(src="img/gallery/img-8.png", alt="alt")
      img(src="img/gallery/img-9.png", alt="alt")
      img(src="img/gallery/img-10.png", alt="alt")
      img(src="img/gallery/img-11.png", alt="alt")
    ul.contacts-links
      li.contacts-links__item
        a.soc-link.vk(href="")
          img(src="img/vk.png", alt="vk")
      li.contacts-links__item
        a.soc-link.fb(href="")
          img(src="img/fb.png", alt="fb")
      li.contacts-links__item
        a.soc-link.ig(href="")
          img(src="img/instagramm.png", alt="inst")
