include ../bemto/bemto.pug
section.gallery
  .wrapper
    h2.gallery-heading Фотографии с мероприятий в нашем Intagram
    .gallery-container
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
      img(src="", alt="alt")
    ul.contacts-links
      li.contacts-links__item
        a.soc-link(href="") vk
      li.contacts-links__item
        a.soc-link(href="") fb
      li.contacts-links__item
        a.soc-link(href="") ig
