include ../bemto/bemto.pug
header.header
  video.content__video(preload="" autoplay="autoplay" muted="muted" loop="loop" poster="")
    source(src="" type="video/mp4")
  .wrapper
    .header__text-container
      h1.header__tagline Настоящий рай для ценителей традиций и легкого пара!
      p.header__description Уютные банные домики, оборудованные в лучших традициях русской бани, встречают посетителей ароматом натурального сруба, березовыми дровами, особой атмосферой исконного деревенского парения.
    .header__links
      a.link.header-link Забронировать баню
      a.link.header-link Календарь мероприятий
