include ../bemto/bemto.pug
nav.nav.js-small-nav
  .nav__menu
    .burger-wrapper
      span.burger.js-burger
    ul.languages
      li.languages__item
        a(href="") Eng
      li.languages__item
        a(href="") 中文
  .nav__logo
    img.logo.big-logo(src="img/big-logo.png", alt="логотип")
    img.logo.small-logo(src="img/small-logo.png", alt="логотип")
  .nav__contacts
    p.tel +7-343-247-21-07
    button.map Схема проезда
article.main-menu
  .wrapper
    .menu__container
      .menu__column
        ul.menu__list
          li.menu__item
            a(href="") Бани
            ul.submenu__list
              li.submenu__item
                a(href="") Рыбацкая
              li.submenu__item
                a(href="") Охотничья
              li.submenu__item
                a(href="") Сибирская
              li.submenu__item
                a(href="") Чапаевская
              li.submenu__item
                a(href="") Купеческая
              li.submenu__item
                a(href="") Боярская
              li.submenu__item
                a(href="") Царская
              li.submenu__item
                a(href="") Таежная
          li.menu__item
            a(href="") Наши веники
          li.menu__item
            a(href="") Подари баню
      .menu__column
        ul.menu__list
          li.menu__item
            a(href="") Мероприятия
            ul.submenu__list
              li.submenu__item
                a(href="") Архив мероприятий
              li.submenu__item
                a(href="") Социальные проекты
          li.menu__item
            a(href="") События
          li.menu__item
            a(href="") Услуги
            ul.submenu__list
              li.submenu__item
                a(href="") Массаж
              li.submenu__item
                a(href="") Спа-процедуры
              li.submenu__item
                a(href="") Парения
          li.menu__item
            a(href="") Органическая<br>косметика
      .menu__column
        ul.menu__list
          li.menu__item
            a(href="") +7-343-247-21-07
            p.menu__address Екатеринбург, 9 км. Сибирского тракта,&nbsp;ул.&nbsp;МОПРа,&nbsp;1
          li.menu__item
            a(href="") Контакты
          li.menu__item
            a(href="") Забронировать баню
