include ../bemto/bemto.pug
section.services
  .service
    h2.service__name Оздоровительные процедуры и косметика
    ul.service-menu
      li.service-menu__item Массаж
      li.service-menu__item Спа-процедуры
      li.service-menu__item Парения
      li.service-menu__item Органическая косметика
  .service
    h2.service__name Оздоровительные процедуры и косметика
    p.service__desc Из ресторана, расположенного в отеле Пале Рояль.
    ul.service-menu
      li.service-menu__item Массаж
      li.service-menu__item Спа-процедуры
      li.service-menu__item Парения
      li.service-menu__item Органическая косметика
