include ../bemto/bemto.pug
section.services
  .wrapper
    .service(style="background-image:url('img/service-1.png')")
      h2.service__name Оздоровительные процедуры и косметика
      ul.service-menu
        li.service-menu__item
          a(href="") Массаж
        li.service-menu__item
          a(href="") Спа-процедуры
        li.service-menu__item
          a(href="") Парения
        li.service-menu__item
          a(href="") Органическая косметика
    .service(style="background-image:url('img/service-2.png')")
      h2.service__name Настоящая <br> русская кухня
      p.service__desc Из ресторана, расположенного в отеле Пале&nbsp;Рояль.
      ul.service-menu
        li.service-menu__item
          a(href="") Массаж
        li.service-menu__item
          a(href="") Спа-процедуры
        li.service-menu__item
          a(href="") Парения
        li.service-menu__item
          a(href="") Органическая косметика
