include ../bemto/bemto.pug
section.slider-baths
  .slider-wrapper
    .slide
      .slide__img
        img(src="", alt="слайд")
      h2.slide__name Рыбацкая
      .slide__text
        p.slide__people-count до 6 человек
        p.slide__desc Уютная баня, топится исключительно березовыми дровами. В бане иммется гостевая комната с обеденной зоной, теле-радио аппаратура, место для отдыха, парная, помывочная (в помывочной душевая кабина и обливное ведро), сан-узел.
        .slide__cost
          .cost-type
            p.cost-time с 08:00 до 16:00
            p.cost-money от 1600 р/час
          .cost-type
            p.cost-time с 16:00 до 08:00
            p.cost-money от 2800 р/час
  .slider-links
    a.slider-links__time(href="") От 2-х часов
    ul.slider-links-list
      li.link.slider-links-list__item Бронировать
      li.link.slider-links-list__item подробнее о бане
      li.link.slider-links-list__item Наши веники
